<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>TestCases.Ninja</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>disponibilitePproduits</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>passerCommande</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>rechercherProduits</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginWithValideAccount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>noNouvelleInscriptionDouble</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>passwordReset</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>nouvelleInscriptionAvecNewsletter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>nouvelleInscriptionSansNewsletter</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
</table>
