<h2>Methods that were not run</h2><table>
<tr><td>TestCases.Ninja.nouvelleInscriptionAvecNewsletter</td></tr>
<tr><td>TestCases.Ninja.noNouvelleInscriptionDouble</td></tr>
<tr><td>TestCases.Ninja.passwordReset</td></tr>
<tr><td>TestCases.Ninja.nouvelleInscriptionSansNewsletter</td></tr>
<tr><td>TestCases.Ninja.disponibilitePproduits</td></tr>
<tr><td>TestCases.Ninja.rechercherProduits</td></tr>
<tr><td>TestCases.Ninja.loginWithValideAccount</td></tr>
</table>