<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2befb">  <td>21/09/13 23:15:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Ninja.tearDown()[pri:0, instance:TestCases.Ninja@76c3e77a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1478797373</td>   <td></td> </tr>
<tr bgcolor="a2befb">  <td>21/09/13 23:14:51</td>   <td>-31119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ninja.passerCommande()[pri:0, instance:TestCases.Ninja@76c3e77a]">passerCommande</td> 
  <td>main@1478797373</td>   <td></td> </tr>
<tr bgcolor="a2befb">  <td>21/09/13 23:14:45</td>   <td>-36751</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Ninja.setup()[pri:0, instance:TestCases.Ninja@76c3e77a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1478797373</td>   <td></td> </tr>
</table>
